/* LoginPage.css
body {
  background-image: url("images.jpg");
  background-size: cover;

}
form{
    margin-top: 20px;
    font-size: 20px;
    font-weight:bold;
    background-color: #fff;
    
}

h2 {
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-weight:bold;
   
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight:bold; 

  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 30px;
    font-weight:bold; 
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
    
  }

  */