/* LoginPage.css */
body {
  background-image: url("loginBackgrnjpg.jpg");
  background-size: cover; 

}
form{
    margin-top: 40px;
    font-size: 20px;
    font-weight:bold;
    background-color: #fff;
    
    
    
}

h2 {
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-weight:bold;
   
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight:bold; 
    

  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    font-family: Arial, Helvetica, sans-serif;;
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    font-weight:bold; 
    
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
    width: 100%;
  
  }

  div {
    background-position: top right;
    background-image: url("logo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  }
  

  